{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Favicons -->
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-16x16.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-96x96.png' %}" sizes="96x96">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/fontawesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon/favicon.svg' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">

    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <meta name="apple-mobile-web-app-title" content="Manual">


    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}">
    <title>{% block title %}{% endblock title %}</title>

    <!-- Стили -->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    {% block add_css %}{% endblock %}
</head>
<body>


<main>
    {% block content %}
    {% endblock content %}
</main>


<!-- Скрипты -->
<script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'fontawesomefree/js/fontawesome.js' %}"></script>
<script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
{% block add_js %}{% endblock %}
</body>
</html>